nav ul li{
    list-style: none;
    margin-right: 10px;
}
li a{
    text-decoration: none;
}
nav li:hover{
    background-color: aqua;
}
nav > ul{
    display: flex;
    
}
/* Nested */

nav li .dropDown{
    display: none;
    position: absolute;
    background-color: rgb(211, 172, 144);
    padding-left: 10px;
}

nav li:hover >.dropDown{
    display: block;
}